body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Poppins', sans-serif;
}

.top-text-color {
    font-size: 60px;

    color: white;
    text-shadow: black 1px 0 3px;

}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 45px;

}

.top-banner {
    display: flex;
    margin-bottom: 100px;

}

.bg-banner {
    background-image: url(images/VecteezyWhite-Background-02RD0421-rev-01_generated.jpg);
    /* border: 2px solid red; */
}




.half-width1 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 60%;
    justify-content: center;

    align-items: center;
    z-index: 2;



}

.half-width1 p {
    display: block;
    text-align: start;
    margin-right: 194px;

}



.btn {
    /* display: inline-block; */
    /* border: 2px solid red; */
    /* margin-top: auto; */
    text-decoration: none;
    background-image: linear-gradient(rgb(146, 145, 145), rgb(180, 180, 180));
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-right: 176px;
}



/* btn-card {
    margin-right: 0;
    border: 4px solid blue;
} */





.half-width2 {
    background-color: #ebebeb;
    width: 100%;
    margin-left: -176px;
    /* border: 2px solid blue; */
    z-index: 1;
}

.half-width2 img {
    width: 700px;
    padding-left: 12%;

}

.half2-width {
    width: 100%;
}

.half2-width img {
    width: 90%;
    margin-left: 50px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.half3-width {
    width: 100%;
    padding: 50px;
}

.half3-width p {
    padding-right: 100px;
}

.my-projects {
    /* border: 2px solid blue; */
}

.about-me {

    padding: 0 200px;
    text-align: center;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;

}


.card-items {
    flex: 1 1 21rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    box-shadow: 14px -3px 32px rgb(185 183 183);
    /* width: 100%; */
    padding: 10px 20px;

    text-align: center;
    align-self: normal;

}


.card-items img {
    width: 60%;
    margin: 0 20px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

}

.btn-card {
    display: inline-block;
    /* border: 4px solid red; */
    margin-top: auto;
    text-decoration: none;
    background-image: linear-gradient(rgb(146, 145, 145), rgb(180, 180, 180));
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;

}