body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Poppins', sans-serif;
}

.top-text-color {
    font-size: 60px;

    color: white;
    text-shadow: black 1px 0 3px;

}

h1 {
    font-size: 60px;



}

h2 {
    font-size: 45px;

}

h3 {
    font-size: 37px;

}

.top-banner {
    display: flex;
    margin-bottom: 100px;

}

.bg-banner {
    background-image: url(images/VecteezyWhite-Background-02RD0421-rev-01_generated.jpg);
    /* border: 2px solid red; */
}




.half-width1 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 60%;
    justify-content: center;

    align-items: center;
    z-index: 2;



}

.half-width1 p {
    display: block;
    text-align: start;
    margin-right: 194px;

}



.btn {
    /* display: inline-block; */
    /* border: 2px solid red; */
    /* margin-top: auto; */
    text-decoration: none;
    background-image: linear-gradient(rgb(146, 145, 145), rgb(180, 180, 180));
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-right: 176px;
}



/* btn-card {
    margin-right: 0;
    border: 4px solid blue;
} */





.half-width2 {
    background-color: #ebebeb;
    width: 100%;
    margin-left: -176px;
    /* border: 2px solid blue; */
    z-index: 1;
}

.half-width2 img {
    width: 700px;
    padding-left: 12%;

}

.half2-width {
    width: 100%;
}

.half2-width img {
    width: 90%;
    margin-left: 50px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.half3-width {
    width: 100%;
    /* text-align: center; */
    /* padding: 50px; */
}

.half3-width p {
    padding-right: 100px;
}

.my-projects {
    /* border: 2px solid blue; */
}

.about-me {

    padding: 0 200px;
    text-align: center;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;

}


.card-items {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    box-shadow: 14px -3px 32px rgb(185 183 183);
    /* width: 100%; */
    padding: 10px 20px;
    border-radius: 10px;

    text-align: center;
    align-self: normal;

}


.card-items img {
    width: 60%;
    margin: 0 20px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

}

.btn-card {
    display: inline-block;
    /* border: 4px solid red; */
    margin-top: auto;
    text-decoration: none;
    background-image: linear-gradient(rgb(146, 145, 145), rgb(180, 180, 180));
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;

}

.observation {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 30px 110px;
    box-shadow: 14px -3px 32px rgb(185 183 183);
    margin: 70px;
    border-radius: 10px;

}

.observation-part {
    text-align: center;
}

footer {
    height: 150px;
    background-color: black;
    color: whitesmoke;
    text-align: center;

}

.footer-text-color {
    color: rgb(172, 172, 172);
}



small {
    /* margin-bottom: 20px; */

    color: rgb(255, 255, 255);
    display: inline-block;


}

.skill-heading {
    text-align: center;
}

.skill-item {
    margin: 5px;
    /* border: 2px solid red; */
}

.skill {
    width: 500px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    margin: 60px auto;
    color: rgb(130, 77, 77);
    padding: 20px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px rgba(0, 0, 0, 0.22);
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #dfdfdf;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 14px -3px 32px rgb(185 183 183); */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.23, .8, .25, 1);
}

.bar:hover {
    box-shadow: 14px -3px 32px rgb(104, 104, 104);
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px rgba(0, 0, 0, 0.24); */
    /* background: #5980d5; */
}

.bar span {
    height: 20px;
    float: left;
    /* background-image: linear-gradient(blue, rgb(133, 253, 255)); */
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}

.php {
    width: 45%;
    animation: php 3s;
}

.javascript {
    width: 80%;
    animation: javascript 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}